# csv – Comma-separated value files

Each line in a CSV file represents a row in the spreadsheet, and commas separate the cells in the row. For example, the spreadsheet example.xlsx from http://nostarch.com/automatestuff/ would look like this in a CSV file:

    4/5/2015 13:34,Apples,73
    4/5/2015 3:41,Cherries,85
    4/6/2015 12:46,Pears,14
    4/8/2015 8:59,Oranges,52
    4/10/2015 2:07,Apples,152
    4/10/2015 18:10,Bananas,23
    4/10/2015 2:40,Strawberries,98

CSV files are simple, lacking many of the features of an Excel spreadsheet. For example, CSV files

>Don’t have types for their values—everything is a string

>Don’t have settings for font size or color

>Don’t have multiple worksheets

>Can’t specify cell widths and heights

>Can’t have merged cells

>Can’t have images or charts embedded in them

The advantage of CSV files is simplicity. CSV files are widely supported by many types of programs, can be viewed in text editors (including IDLE’s file editor), and are a straightforward way to represent spreadsheet data. The CSV format is exactly as advertised: It’s just a text file of comma-separated values.

# read data from a CSV file with the csv module

In [13]:
import csv
exampleFile = open('mpg.csv')
exampleReader = csv.reader(exampleFile)

In [14]:
example_reader_as_list=list(exampleReader)
example_reader_as_list[0],example_reader_as_list[1],example_reader_as_list[2]

(['class',
  'displ',
  'trans',
  'cyl',
  'trans.dscr',
  'cty',
  'hwy',
  'fl',
  'model',
  'eng.dscr',
  'eng.dscr.1',
  'year',
  'manufacturer',
  'twodoor.p',
  'twodoor.l',
  'fourdoor.p',
  'fourdoor.l',
  'hatch.p',
  'hatch.l',
  'T',
  'G',
  'drv',
  'vpc',
  'bidx',
  'x5c',
  'S',
  'eng.dscr.2'],
 ['3',
  'NA',
  'NA',
  '4',
  'A',
  '19.3',
  '24.8',
  'Unleaded Gasoline',
  'ALFETTA',
  'NA',
  'NA',
  '1978',
  'ALFA ROMEO',
  '74',
  '7',
  '89',
  '9',
  'NA',
  '          ',
  'FALSE',
  'FALSE',
  'NA',
  'NA',
  'NA',
  'NA',
  'FALSE',
  'NA'],
 ['3',
  'NA',
  'NA',
  '4',
  'M',
  '19.3',
  '29',
  'Unleaded Gasoline',
  'ALFETTA',
  'NA',
  'NA',
  '1978',
  'ALFA ROMEO',
  '74',
  '7',
  '89',
  '9',
  'NA',
  '          ',
  'FALSE',
  'FALSE',
  'NA',
  'NA',
  'NA',
  'NA',
  'FALSE',
  'NA'])

In [16]:
example_reader_as_list[0], example_reader_as_list[0][0], example_reader_as_list[0][1]

(['class',
  'displ',
  'trans',
  'cyl',
  'trans.dscr',
  'cty',
  'hwy',
  'fl',
  'model',
  'eng.dscr',
  'eng.dscr.1',
  'year',
  'manufacturer',
  'twodoor.p',
  'twodoor.l',
  'fourdoor.p',
  'fourdoor.l',
  'hatch.p',
  'hatch.l',
  'T',
  'G',
  'drv',
  'vpc',
  'bidx',
  'x5c',
  'S',
  'eng.dscr.2'],
 'class',
 'displ')

# write data to a CSV file.

In [19]:
import csv
outputFile = open('output.csv', 'w', newline='') # for windows newline='')
outputWriter = csv.writer(outputFile)

In [20]:
outputWriter.writerow(['spam', 'eggs', 'bacon', 'ham'])
outputWriter.writerow(['Hello, world!', 'eggs', 'bacon', 'ham'])
outputWriter.writerow([1, 2, 3.141592, 4])
outputFile.close()

# JSON and APIs

JavaScript Object Notation is a popular way to format data as a single human-readable string. JSON is the native way that JavaScript programs write their data structures and usually resembles what Python’s pprint() function would produce. You don’t need to know JavaScript in order to work with JSON-formatted data.

Here’s an example of data formatted as JSON:

{"name": "Zophie", "isCat": true,
 "miceCaught": 0, "napsTaken": 37.5,
 "felineIQ": null}
 
JSON is useful to know, because many websites offer JSON content as a way for programs to interact with the website. This is known as providing an application programming interface (API). Accessing an API is the same as accessing any other web page via a URL. The difference is that the data returned by an API is formatted (with JSON, for example) for machines; APIs aren’t easy for people to read.

Many websites make their data available in JSON format. Facebook, Twitter, Yahoo, Google, Tumblr, Wikipedia, Flickr, Data.gov, Reddit, IMDb, Rotten Tomatoes, LinkedIn, and many other popular sites offer APIs for programs to use. Some of these sites require registration, which is almost always free. You’ll have to find documentation for what URLs your program needs to request in order to get the data you want, as well as the general format of the JSON data structures that are returned. This documentation should be provided by whatever site is offering the API; if they have a “Developers” page, look for the documentation there.

Using APIs, you could write programs that do the following:

>Scrape raw data from websites. (Accessing APIs is often more convenient than downloading web pages and parsing HTML with Beautiful Soup.)

>Automatically download new posts from one of your social network accounts and post them to another account. For example, you could take your Tumblr posts and post them to Facebook.

>Create a “movie encyclopedia” for your personal movie collection by pulling data from IMDb, Rotten Tomatoes, and Wikipedia and putting it into a single text file on your computer.

# Fetching Current Weather Data


### OpenWeatherMap.org provides real-time weather information in JSON format. 
>http://openweathermap.org/current

You can call by city ID. API responds with exact result.

List of city ID city.list.json.gz can be downloaded here http://bulk.openweathermap.org/sample/

e.g.:

>{"_id":112646,"name":"Torbat-e Heydariyeh","country":"IR","coord":{"lon":59.21949,"lat":35.27401}}
{"_id":124665,"name":"Mashhad","country":"IR","coord":{"lon":59.606201,"lat":36.297001}}
{"_id":112931,"name":"Tehran","country":"IR","coord":{"lon":51.421509,"lat":35.694389}}
{"_id":134460,"name":"Fīsherābād","country":"IR","coord":{"lon":51.433331,"lat":35.666672}}
{"_id":418863,"name":"Esfahan","country":"IR","coord":{"lon":51.677608,"lat":32.657219}}
{"_id":134766,"name":"Ostān-e Fārs","country":"IR","coord":{"lon":53,"lat":29}}
{"_id":128747,"name":"Karaj","country":"IR","coord":{"lon":51.0103,"lat":35.835499}}
{"_id":142549,"name":"Ostān-e Āz̄arbāyjān-e Sharqī","country":"IR","coord":{"lon":46.75,"lat":38}}
{"_id":130801,"name":"Ostān-e Īlām","country":"IR","coord":{"lon":47,"lat":33.166672}}
{"_id":130802,"name":"Ilam","country":"IR","coord":{"lon":46.422699,"lat":33.637402}}
{"_id":143127,"name":"Arak","country":"IR","coord":{"lon":49.689159,"lat":34.09174}}
{"_id":128231,"name":"Ostān-e Kermān","country":"IR","coord":{"lon":57.25,"lat":29.75}}
{"_id":128234,"name":"Kerman","country":"IR","coord":{"lon":57.078789,"lat":30.283211}}
{"_id":116402,"name":"Semnan","country":"IR","coord":{"lon":53.397141,"lat":35.57291}}
{"_id":111452,"name":"Ostān-e Zanjān","country":"IR","coord":{"lon":48.333328,"lat":36.5}}
{"_id":1159456,"name":"Ostān-e Sīstān va Balūchestān","country":"IR","coord":{"lon":60.5,"lat":28.5}}
{"_id":125605,"name":"Ostān-e Lorestān","country":"IR","coord":{"lon":48.5,"lat":33.5}}
{"_id":143083,"name":"Ardabil","country":"IR","coord":{"lon":48.293301,"lat":38.249802}}
{"_id":443793,"name":"Ostān-e Qazvīn","country":"IR","coord":{"lon":49.75,"lat":36}}
{"_id":119505,"name":"Qazvin","country":"IR","coord":{"lon":50.004902,"lat":36.279701}}
{"_id":139816,"name":"Ostān-e Būshehr","country":"IR","coord":{"lon":51.5,"lat":28.75}}
{"_id":116996,"name":"Shari-i-Tajan","country":"IR","coord":{"lon":53.060089,"lat":36.56332}}
{"_id":128226,"name":"Kermanshah","country":"IR","coord":{"lon":47.064999,"lat":34.314171}}
{"_id":7789591,"name":"Pas Kalāyeh-ye Kūchak","country":"IR","coord":{"lon":50.878052,"lat":36.807171}}
{"_id":140918,"name":"Behshahr","country":"IR","coord":{"lon":53.55262,"lat":36.692348}}
{"_id":133349,"name":"Ostān-e Gīlān","country":"IR","coord":{"lon":49.5,"lat":37.166672}}
{"_id":118743,"name":"Rasht","country":"IR","coord":{"lon":49.583191,"lat":37.280769}}
{"_id":136256,"name":"Dezful","country":"IR","coord":{"lon":48.40581,"lat":32.38114}}
{"_id":126878,"name":"Ostān-e Kohgīlūyeh va Bowyer Aḩmad","country":"IR","coord":{"lon":50.666672,"lat":30.83333}}
{"_id":125315,"name":"Maḩmūdābād-e Soflá","country":"IR","coord":{"lon":51.612202,"lat":30.66028}}
{"_id":118994,"name":"Rafsanjan","country":"IR","coord":{"lon":55.9939,"lat":30.4067}}
{"_id":142363,"name":"Babol","country":"IR","coord":{"lon":52.678951,"lat":36.551319}}


### Examples of API calls:

Parameters:
>id: City ID

>http://www.api.openweathermap.org/data/2.5/weather?id=2172797


# Download the JSON data from OpenWeatherMap.org's API.

In [28]:
import json, requests

url ='http://samples.openweathermap.org/data/2.5/weather?id=112931&appid=8b16d8b5328489d60474ee9b8c9b47cb'

response = requests.get(url)
response.raise_for_status()

In [38]:
x=response.json()
type(x), x

(dict,
 {'base': 'stations',
  'clouds': {'all': 40},
  'cod': 200,
  'coord': {'lat': -16.92, 'lon': 145.77},
  'dt': 1485790200,
  'id': 2172797,
  'main': {'humidity': 74,
   'pressure': 1007,
   'temp': 300.15,
   'temp_max': 300.15,
   'temp_min': 300.15},
  'name': 'Cairns',
  'sys': {'country': 'AU',
   'id': 8166,
   'message': 0.2064,
   'sunrise': 1485720272,
   'sunset': 1485766550,
   'type': 1},
  'visibility': 10000,
  'weather': [{'description': 'scattered clouds',
    'icon': '03n',
    'id': 802,
    'main': 'Clouds'}],
  'wind': {'deg': 160, 'speed': 3.6}})

In [42]:
for k,v in x.items():
    print(k,v)

clouds {'all': 40}
weather [{'id': 802, 'icon': '03n', 'main': 'Clouds', 'description': 'scattered clouds'}]
cod 200
main {'temp': 300.15, 'humidity': 74, 'temp_min': 300.15, 'temp_max': 300.15, 'pressure': 1007}
wind {'deg': 160, 'speed': 3.6}
dt 1485790200
id 2172797
visibility 10000
coord {'lon': 145.77, 'lat': -16.92}
sys {'country': 'AU', 'message': 0.2064, 'id': 8166, 'sunrise': 1485720272, 'sunset': 1485766550, 'type': 1}
base stations
name Cairns

In [44]:
import csv
outputFile = open('Weather.csv', 'w', newline='') # for windows newline='')
outputWriter = csv.writer(outputFile)
for k,v in x.items():
    outputWriter.writerow((k,v))
outputFile.close()

##  Mining CSV files¶

Let's import our datafile mpg.csv, which contains fuel economy data for 36615 cars.

mpg : miles per gallon

class : car classification

cty : city mpg

cyl : # of cylinders

displ : engine displacement in liters

drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd

fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)

hwy : highway mpg

manufacturer : automobile manufacturer

model : model of car

trans : type of transmission

year : model year

<br><br><br>

# question:
<br>
### 1: How much is the average city fuel economy across all cars ?
### 2: How much are cylinders of the cars in our dataset have?
### 3: If we grouping the cars by number of cylinder, how many is the average cty mpg for each group?
### 4: Which car model is the most fuel average usage


<br><br><br><br><br>

In [2]:
import csv
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
mpg[0]['cty']

'19.3'

In [14]:
mpg[20]

{'G': 'FALSE',
 'S': 'FALSE',
 'T': 'FALSE',
 'bidx': 'NA',
 'class': '4',
 'cty': '18.0656',
 'cyl': '6',
 'displ': 'NA',
 'drv': 'NA',
 'eng.dscr': 'NA',
 'eng.dscr.1': 'NA',
 'eng.dscr.2': 'NA',
 'fl': 'Unleaded Gasoline',
 'fourdoor.l': 'NA',
 'fourdoor.p': 'NA',
 'hatch.l': '11        ',
 'hatch.p': '89',
 'hwy': '23.4526',
 'manufacturer': 'AMC',
 'model': 'PACER',
 'trans': 'NA',
 'trans.dscr': 'A',
 'twodoor.l': 'NA',
 'twodoor.p': 'NA',
 'vpc': 'NA',
 'x5c': 'NA',
 'year': '1978'}

In [13]:
mpg[0]['fourdoor.p']

'89'

In [24]:
len(mpg)

36615

In [3]:
mpg[0].keys()

dict_keys(['cyl', 'hatch.l', 'cty', 'G', 'manufacturer', 'displ', 'twodoor.l', 'x5c', 'year', 'fl', 'fourdoor.p', 'hwy', 'class', 'bidx', 'eng.dscr', 'eng.dscr.1', 'eng.dscr.2', 'trans', 'model', 'drv', 'hatch.p', 'fourdoor.l', 'trans.dscr', 'T', 'S', 'twodoor.p', 'vpc'])

In [1]:
import pandas as pds
datafile = pds.read_csv('mpg.csv')
datafile[:5]

/root/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10,13,14,15,16,17,18,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,class,displ,trans,cyl,trans.dscr,cty,hwy,fl,model,eng.dscr,...,hatch.p,hatch.l,T,G,drv,vpc,bidx,x5c,S,eng.dscr.2
0,3,NaN,NaN,4,A,19.3,24.8,Unleaded Gasoline,ALFETTA,NaN,...,NaN,,False,False,NaN,NaN,NaN,NaN,False,NaN
1,3,NaN,NaN,4,M,19.3,29.0,Unleaded Gasoline,ALFETTA,NaN,...,NaN,,False,False,NaN,NaN,NaN,NaN,False,NaN
2,3,NaN,NaN,4,M,19.3,29.0,Unleaded Gasoline,ALFETTA,NaN,...,NaN,,False,False,NaN,NaN,NaN,NaN,False,NaN
3,3,NaN,NaN,4,A,19.3,24.8,Unleaded Gasoline,ALFETTA,NaN,...,NaN,,False,False,NaN,NaN,NaN,NaN,False,NaN
4,1,NaN,NaN,4,M,17.6,26.1,Unleaded Gasoline,SPIDER 2000,NaN,...,NaN,,False,False,NaN,NaN,NaN,NaN,False,NaN

<br><br><br><br>
## how much are the average city fuel economy across all cars?

In [ ]:
mpg[0]['cty']
x=list()
type(x)

In [ ]:
for obj in mpg:
    x.append( obj['cty'] )

In [ ]:
x[:5]

In [ ]:
type(x[0])

In [ ]:
sum(x) => Error
sum(float(x)) => Error

In [ ]:
x=[]
for obj in mpg:
    x.append(float( obj['cty'] )) #clear data

In [ ]:
print("len(x)=",len(x))
x=[] # reset x
print("x=",x,"len(x)=",len(x))



counter=0
for obj in mpg:
    try:
        x.append(float( obj['cty'] ))
    except:
        counter+=1
        print("obj['cty']=", obj['cty'], "\t", "counter=",counter)

In [ ]:
len(mpg) - len(x)

In [ ]:
sum(x)/len(x)

<br><br><br><br>
## how much cylinders the cars in our dataset have?

In [ ]:
mpg[0]["cyl"]

In [ ]:
for car in mpg:
    print(car["cyl"])

In [ ]:
x=list()
for car in mpg:
    x.append(car["cyl"])

In [ ]:
len(x)

In [ ]:
x=set()
for car in mpg:
    x.add(car["cyl"])
len(x)

In [ ]:
# itemes are str conver to int. why:

print("x= ", x)
print("type(x)= ", type(x))
print("max(x)= ", max(x))
print("min(x)= ", min(x))

In [ ]:
x=set()
for car in mpg:
    x.add(int(car["cyl"]))
len(x)

In [ ]:
print("type(x)= ", type(x))
print("max(x)= ", max(x))
print("min(x)= ", min(x))

<br><br><br><br>
## if we grouping the cars by number of cylinder, how much are the average cty mpg for each group?

In [15]:
x=[1,2,3]
y={1:0,2:0,3:0}
print(y[2])
y[2]+=1
print(y[2])
print(y)

0
1
{1: 0, 2: 1, 3: 0}

In [16]:
for i in x:
    y[i]+=1

print(y)

{1: 1, 2: 2, 3: 1}

In [17]:
# dynamic dic
x=[1,2,3,1,1,1,2,2,3,3,2]
x=set(x)
print(x)

{1, 2, 3}

In [18]:
#make dynamic dict
y=dict()
for number in x:
    y.update({number:0})
print(y)

{1: 0, 2: 0, 3: 0}

In [19]:

x=[1,3,2,3,1,3,1,3,1,3,3,3]
for i in x:
    y[i]+=1
print(y)

{1: 4, 2: 1, 3: 7}

In [ ]:
y.update({3:y[3]+10})
print(y)

In [20]:
cylinders=set()
for car in mpg:
    cylinders.add(int(car["cyl"]))
    
cylinders

{2, 3, 4, 5, 6, 8, 10, 12, 16}

In [ ]:
cylinders_dict=dict()
for number in cylinders:
    cylinders_dict.update({number:0})

cylinders_dict

In [ ]:
#for car in mpg:
#    print(car['cty'])

#for car in mpg:
#    print(car["cyl"])


#x=mpg[0]["cyl"]
#type(x)

#cylinders_dict[int(x)]

#for obj in mpg:
#    print(cylinders_dict[int(obj["cyl"])])



for obj in mpg:
    try:
        cylinders_dict.update({ int(obj["cyl"]) :cylinders_dict[int( obj["cyl"] )]+ int(obj['cty']) })
    except:
        pass

cylinders_dict

In [ ]:
#check it
plus=0
for car in mpg:
    if car["cyl"]=='16':
        print(car['model'])
        plus+= int(car['cty'])
print(plus)

In [ ]:
#make  cylinders_dict
cylinders_dict=dict()
for number in cylinders:
    cylinders_dict.update({number:[0,0]})
cylinders_dict

In [ ]:
#cylinders_dict[2]
#cylinders_dict[2][0]
#cylinders_dict[2][0]
#type(cylinders_dict)
#type(cylinders_dict[2])

In [ ]:
cylinders_dict[2][1]+=1
cylinders_dict

In [ ]:
cylinders_dict[2][1]+=cylinders_dict[2][1]
cylinders_dict

In [ ]:
for obj in mpg:
    try:
        cylinders_dict[int(obj["cyl"])]
    except:
        pass

In [ ]:

for obj in mpg:
    try:
        cylinders_dict[int(obj["cyl"])][0] += float(obj["cty"])
        cylinders_dict[int(obj["cyl"])][1] += 1
    except:
        pass
    
cylinders_dict

In [ ]:
for key,value in cylinders_dict.items():
    print("for cylinders={} , sum of cty={} and number of cars={} ".format(key, *value))

In [ ]:
l=list()
for item in cylinders_dict.values():
    sum_of_cty, number_of_cars = item[0],item[1]
    l.append(sum_of_cty/number_of_cars)
l

In [ ]:
print("max= ", max(l), "min= ",min(l))

In [ ]:
x=set()
for car in mpg:
    if car["cyl"]=='16' or car["cyl"]=='3':
        x.add((car["model"],car["cyl"]))
x